:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

body {
  background-color: var(--Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Manrope, sans-serif;
}

.container {
  width: 1440px;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 540px;
  height: 330px;
  background-color: var(--Dark-Grayish-Blue);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.advice-id {
  color: var(--Neon-Green);
  font-size: 11px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 30px;
}
.quote {
  font-size: 28px;
  width: 454px;
  height: 170px;
  color: var(--Light-Cyan);
  margin: 0px;
}
.pattern-divider {
  width: 444px;
  height: 16px;
  background-image: url("../src/images/pattern-divider-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.random-advice_btn {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  background-color: var(--Neon-Green);
  background-image: url("../src/images/icon-dice.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 493px;
}
.random-advice_btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 15px hsla(150, 100%, 66%, 0.182);
}
